<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
			xmlns:th="http://www.thymeleaf.org" 
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
			ng-app="ykzApp">
  <head>
    <title th:text="${@environment.getProperty('spring.application.name')}">title</title>
		<link rel="stylesheet" href="/apps/css/bootstrap.css" th:href="@{/apps/css/bootstrap.css}"/>
		<link rel="stylesheet" href="/apps/css/bootstrap-theme.css" th:href="@{/apps/css/bootstrap-theme.css}"/>
		<link rel="stylesheet" href="/apps/css/bootstrap-datetimepicker.min.css" th:href="@{/apps/css/bootstrap-datetimepicker.min.css}"/>
		<link rel="stylesheet" href="/apps/css/style.css" th:href="@{/apps/css/style.css}"/>
  </head>
  <body>
  	<!-- ヘッダ情報 -->
  	<div th:replace="header::header"></div>
    
    <!-- MSA申請情報 -->
    <div class="content container-fluid" style="z-index:1">
    	<form class="form-horizontal" th:action="@{/msa}" method="post" name="msaForm" novalidate="true">
    		<!-- 申請情報 -->
  			<div th:replace="apply-input::apply-input"></div>
      	<!-- MSA情報 -->
  			<div th:replace="msa-input::msa-input"></div>
  			<!-- 申請 -->
      	<div class="form-group">
      		<label for="applyBtn" class="col-sm-2 control-label"></label>
    			<div class="col-sm-8 link-right">
      			<input type="submit" class="btn btn-lg btn-primary btn-block" th:value="#{apply.btn}" ng-disabled="msaForm.$invalid"/>
      		</div>
      	</div>
    	</form>
    </div>

		<!-- フッタJS情報 -->
  	<div th:replace="footer_js::footer_js"></div>
  </body>
</html>
